.navbar {
    border-radius: 20px;
    background-color: #151F6D;
}

.logo-container a {
    color: white;
}

.logo-container a:hover {
    color: white;
}

.return-to-home-page-link {
    text-decoration: none;
    color: white;
}

.return-to-home-page-link:hover {
    scale: 102%;
    color: #151F6D;
}

.welcome-section {
    border: 1px solid rgba(222, 226, 230, 0.46);
    border-radius: 20px;
    box-shadow: 10px 10px 25px 0px rgba(34, 60, 80, 0.15);
}

.list-group a,
.btn,
.welcome-section,
.return-to-home-page-link {
    transition: all .3s ease;
}

.welcome-section:hover {
    box-shadow: 20px 20px 35px 0px rgba(34, 60, 80, 0.15);
}

.list-group a:hover {
    background-color: rgba(21, 31, 109, 0.49);
    /*color: white;*/
    scale: 102%;
}

.btn:hover {
    scale: 1.05;
}

.delete-item-form {
    display: inline-block
}

.spinner-container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.congratulation-success-alert,
.congratulation-error-alert {
    display: none;
}

.letter-body {
    padding: 15px;
    border-top: 1px solid #95959585;
    border-bottom: 1px solid #95959585;
}
